<style type="text/css" media="screen">
    .plotcontainer {
      width: 650px;
      margin: auto;
    }
    .plot > * {
      display: inline-block;
      vertical-align: middle;
      margin: auto;
    }
    .outerslidecontainer > * {
      display: inline-block;
      vertical-align: middle;
      width: 650px;
    }
    .colslidecontainer {
      width: 49%;
      height: 200px
    }
    .slidecontainer {
      height: 120px;
    }
    .slidecontainer2 {
      height: 50%;
    }
    .slidecontainer3 {
      height: 33%;
    }
    .slider {
      width: 80%;
    }
    </style>